.parent {
    background: red;
    display: inline;
}

.child {
    background: blue;
    display: inline;
    margin: 10px;
}

.child:nth-child(3) {
    background: green;
    margin: 100px;
    padding: 200px;
}